html, body {
	background: #ffffef;
}

h1, h2, h3, h4, h5, h6, p, span, button, select {
	color: #222222;
	font-family: "Helvetica", "Arial", sans-serif;
}

/* Loading Screen */
#load-screen {
	position: fixed;
	display: table;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: #ffff77;
	text-align: center;
	opacity: 1;
	transition: opacity .4s;

	-moz-animation-duration: 10s;
	-moz-animation-name: colorloop;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: normal;
	-webkit-animation-duration: 10s;
	-webkit-animation-name: colorloop;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
}

@-moz-keyframes colorloop {
	from {
		background: #ffe448;
	}

	33% {
		background: #89c6cd;
	}

	66% {
		background: #50be83;
	}

	to {
		background: #ffe448;
	}
}

@-webkit-keyframes colorloop {
	from {
		background: #ffe448;
	}

	33% {
		background: #89c6cd;
	}

	66% {
		background: #50be83;
	}

	to {
		background: #ffe448;
	}
}

#load-screen-content {
	display: table-cell;
	vertical-align: middle;
}

#load-text {
	font-size: 32px;
	color: #222222;
	margin: 8px;
}

#load-progress {
	color: #222222;
	margin: 8px;
}

#header {
	width: 100%;
	background: #79b6bd;
	box-shadow: 0 0 2px #555500;
	transition: box-shadow .4s;
	text-align: center;
}

#header:hover {
	box-shadow: 0 0 16px #555500;
}

#header-toggle {
	width: 100%;
	height: 8px;
	background: #89c6cd;
	cursor: pointer;
}

#header-container {
	height: 116px;
	transition: height .4s;
}

#collections {
	display: inline-block;
	width: auto;
	height: auto;
}

.collection {
	display: inline-block;
	cursor: pointer;
	width: 128px;
	height: auto;
	padding: 16px 0;
	transition: background .4s;
}

.collection p {
	color: #f3f3f3;
}

.collection:hover {
	background: #fafada;
}

.collection:hover p {
	color: #79b6bd;
}

.sound {
	display: table;
	background: #999;
	width: 128px;
	height: 64px;
	margin: 8px;
	text-align: center;
}

#video {
	display: none;
}

#video-canvas {
	position: absolute;
	margin: 0px;
	padding: 0px;
}

#canvas {
	position: absolute;
	cursor: crosshair;
	z-index: 1;
}

#palette {
	background: #40ae73;
	text-align: center;
}

#palette-container {
	height: 48px;
	transition: height .4s;
}

#palette-buttons {
	padding: 8px;
	display: none;
}

#play-button {
	cursor: pointer;
}

#palette-toggle {
	width: 100%;
	height: 8px;
	background: #50be83;
	cursor: pointer;
}

.swatch {
	display: inline-block;
	width: 64px;
	height: 16px;
	margin: 8px;
	padding: 8px;
	vertical-align: middle;
	overflow: hidden;
	color: #f3f3f3;
	font-family: "Helvetica", "Arial", sans-serif;
	text-align: center;
	cursor: pointer;
	transition: width .4s;
	border: 1px solid #f3f3f3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.swatch:hover {
	width: 160px;
}

.swatch-reset {
	float: right;
}

#controls {
	width: 100%;
	background: #f5d438;
	box-shadow: 0 0 2px #555500;
	text-align: center;
}

#controls-toggle {
	width: 100%;
	height: 8px;
	background: #ffe448;
	cursor: pointer;
}

#controls-container {
	display: inline-block;
	height: 100px;
	transition: height .4s, opacity .4s;
}

.control {
	display: inline-block;
	margin: 30px 0;
	padding: 16px;
}

.control * {
	width: 100%;
}

label {
	display: block;
}

input[type="range"] {
	margin: 8px 0;
}

input[type="range"] {
	-webkit-appearance: none !important;
	background: #f7565d;
	height: 7px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: #62584c;
	height: 16px;
	width: 10px;
}
